/*@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --h1-color: #FD854F;
  --h2-color: #FBA475;
  --text-color: #f6e1c1;
  --text-bg-color: #B3A48C;
  --bg-color-1: #222;
  --bg-color-2: #303030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jetbrains Mono';
  color: var(--text-color);
}

body {
  margin: 1rem auto 5rem auto;
  background-color: var(--bg-color-1);
  max-width: 768px;
}

header {
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
}

.bubble {
  border-radius: 1em;
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: var(--bg-color-2);
}

footer {
  border-top: 1px solid var(--text-color);
  margin-top: 1rem;
  padding-top: .5rem;
}

a {
  /*color: #00e;*/
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
}

time {
  color: var(--text-bg-color);
  margin-bottom: 1rem;
}

code {
  display: block;
  margin: 1rem 0;
  padding: 1.5rem;
}

.mord {
  font-family: 'Times New Roman';
}

.tags {
  display: flex;
  justify-content: flex-end;
  color: var(--h2-color);
}
.tags a {
  margin-left: .5rem;
}